:root {
  --base-backgroundcolor: #ffffff;
  --base-textcolor: #222731;
  --base-input-backgroundcolor: #eeeeee;
  --base-btn-backgroundcolor: #38bdf8;
  --base-textfont: 20px;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
#Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--base-textcolor);
  width: 270px;
  height: 410px;
  border-radius: 12px;
}
#Result {
  width: 230px;
  height: 70px;
  border-radius: 12px;
  background-color: var(--base-input-backgroundcolor);
  font-size: var(--base-textfont);
  margin-bottom: 15px;
  padding: 0 10px;
  border: none;
  outline: none;
}
#Box-btn {
  display: grid;
  grid-template: repeat(5, 20%) / repeat(4, 25%);
  width: 257px;
  height: 300px;
}
button {
  color: var(--base-backgroundcolor);
  background-color: var(--base-btn-backgroundcolor);
  font-size:  var(--base-textfont);
  border: none;
  margin: 5px;
  border-radius: 12px;
}


@media screen and (max-width: 430px) {
  #Container {
    justify-content: flex-start;
    border-radius: 0;
    width: 100%;
    height: 100%;
    padding: 0 5%;
  }

  #Result {
    margin-top: 5%;
    width: 90%;
    height: 25%;
    font-size: 35px;
  }

  #Box-btn {
    margin: auto 0;
    width: 100%;
    height: 50%;
  }
}